<nav class="
    fixed
    top-0
    left-0
    w-full
    z-50
    border-b
    border-white/10
    backdrop-blur-md
    bg-slate-950/60 
    shadow-lg
    shadow-black/20
">

    <div class="
        max-w-7xl
        mx-auto
        px-6
        py-4
        flex
        items-center
        justify-between
    ">

        <a href="/" class="
            text-3xl
            font-bold
            tracking-tight
            glow-text
        ">
            PatternWise
        </a>

        <div class="flex items-center gap-6">

            <a href="/" hx-get="/" hx-target="#main-content" hx-swap="innerHTML" class="
        text-slate-300
        hover:text-white
        transition
    ">
                Home
            </a>

            
            <a href="/login" class="
                    px-5
                    py-2
                    rounded-xl
                    bg-gradient-to-r
                    from-yellow-400
                    to-amber-500
                    text-black
                    font-semibold
                    hover:scale-105
                    transition
                    shadow-lg
                    shadow-yellow-500/20
                ">
                Begin
            </a>
           

        </div>

    </div>

</nav>